<?xml version="1.0" encoding="utf-8"?>
<!-- 
	This was added because I couldn't get the sockets communicating.
	It turns out this file is not actually necessary for non-UWP apps.
-->
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
	<Identity Name="MyCompany.MySuite.MyApp2"
			  Version="1.0.0.0"
			  Publisher="CN=MyCompany, O=MyCompany, L=MyCity, S=MyState, C=MyCountry" />
	<Properties>
		<DisplayName>Blah2</DisplayName>
		<PublisherDisplayName>Blah2</PublisherDisplayName>
		<Logo>images\logo.png</Logo>
	</Properties>
	<Prerequisites>
		<OSMinVersion>6.2.1</OSMinVersion>
		<OSMaxVersionTested>6.2.1</OSMaxVersionTested>
	</Prerequisites>
	<Resources>
		<Resource Language="en-us" />
	</Resources>
	<Capabilities>
		<Capability Name="privateNetworkClientServer" />
	</Capabilities>
</Package>
